module "datadog-monitors" {
  source = "git::ssh://git@bitbucket.org/morea/terraform.datadog.monitors.git"

  ho_escalation_group  = "@pagerduty-Public_Cloud_FR_-CustomerName_HO"
  hno_escalation_group = "@pagerduty-Public_Cloud_FR_-CustomerName_HNO"

  #default monitors templates integrations examples
  linux_basics  = "true"
  nginx         = "true"
  aws_rds_mysql = "true"

  #custom monitors template integrations examples
  cpu_custom                        = "true"  #Will match the tag dd_cpu_high (NB: it will replace the basic cpu alert)
  cpu_custom_period                 = "60"    
  cpu_custom_warning_threshold      = "90"
  cpu_custom_warning_escalation_msg = ${var.ho_escalation_group}
  cpu_custom_alert_threshold        = "95"
  cpu_custom_alert_escalation_msg   = ${var.hno_escalation_group}
}
