${prepend_text}
{{#is_alert}} ${message_alert} {{/is_alert}}
{{#is_warning}} ${message_warning} {{/is_warning}}
{{#is_no_data}} ${message_nodata} {{/is_no_data}}
{{#is_recovery}} ${message_recovery} {{/is_recovery}}
${append_text}
